/* General styles */
body {
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    font-family: normal;
    font-weight: 350;
}

img {
    max-width: 100%;
    height: auto;
}

section {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background: linear-gradient(45deg, #f3f3f3, #ffffff, #f3f3f3); */
    gap: 2rem;
}

@keyframes gradient {
    0% {
      background-position: -50%;
    }
    100% {
      background-position: 150%;
    }
  }

/* Make h1 larger and add gradient animation */
h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #0066cc;
    background: linear-gradient(90deg, #05498d, #3a3a3a, #05498d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient 7s ease infinite;
    background-size: 300%;

}

h1, h2 {
    margin-bottom: 1rem;
}

.content-container {
    max-width: 1000px; /* Adjust this value as needed */
    margin: 0 auto; /* This centers the container horizontally */
    padding: 0 1rem; /* Add some padding to the left and right */
}


.buttons a {
    color: #fff; /* Updated: Set the text and icon color to white */

    display: inline-flex; /* Updated: Use flex to align icon and text */
    align-items: center;
}

.buttons a i {
    margin-right: 0.5em; /* Updated: Add spacing between icon and text */
}

/* Fonts */
h1, h2, h3, h4, h5, h6, a {
    font-family: normal;
    color: #3a3a3a; /* Updated: darker text color for headings */
}


h2 {
    position: relative;
    padding-bottom: 0.5em;
    margin-bottom: 0em;
    font-weight: bold;
}

/* Add bottom border and shadow to h2 elements */
h2::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #0066cc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}




/* Title card */
#title-card {
    text-align: center;
}



#abstract p, #method p {
    text-indent: 1.5em;
    text-align: justify; /* Updated: Justify text for better appearance */
    margin-bottom: 0em;
}

#title-card .buttons {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

#title-card a {
    text-decoration: none;
    color: #4a4a4a;
}

#title-card a:hover {
    color: #2513be;
}

#title-card .authors {
    font-size: 1.25rem;
    font-weight: 400;
}

#title-card p {
    font-size: 1.15rem;
    font-weight: 400;
    color: #0066cc;
}


#title-card .buttons a {
    background-color: #333;
    color: #fff;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 20px;
    transition: all 0.3s;
}

#title-card .buttons a:hover {
    background-color: #555;
    transform: translateY(-3px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}


.authors {
    font-size: 1.2em;
    margin-bottom: 0em;
}

.authors a {
    color: #0056bf !important;
    text-decoration: none;
}

.authors a:hover {
    color: #00328a !important;
}

.affiliation, .cvpr-link {
    font-size: 1.1em;
    margin-bottom: 0.1em;
}

.affiliation a, .cvpr-link a {
    color: #333;
    text-decoration: none;
}

.affiliation a:hover, .cvpr-link a:hover {
    color: #777;
}



/* Abstract, Method, Results */
#abstract img:hover,
#method img:hover,
#training img:hover,
#results img:hover {
    transform: scale(1.05);
    transition: all 0.3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
#qualitative img:hover {
    transform: scale(1.05);
    transition: all 0.3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}


/* Team */
/* Container for the entire team section */
.team-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 2rem;
}

/* Container for each row of authors */
.team-row {
    display: flex;
    justify-content: space-around;  /* or center */
    align-items: center;
    width: 100%;
    gap: 2rem; /* Adjust the gap size as needed */
}

/* Individual team member styling */
.team-member {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    width: calc(100% / 3 - 2rem); /* Divide by 3 authors, subtracting the gap */
    text-align: center;
}

/* Styling for the images to make them circular */
.team-member img {
    width: 150px; /* Adjust size as needed */
    height: 150px; /* Adjust size as needed */
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem; /* Space between image and text */
}


#team img:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transform: translateY(-3px);
    transition: all 0.3s;
}

/* Circular diffuse gradient */
.mouse-overlay {
    position: absolute;
    width: 150px;
    height: 150px;
    background: radial-gradient(circle, rgba(128, 0, 128, 0.5) 0%, rgba(0, 0, 255, 0) 70%);
    border-radius: 50%;
    pointer-events: none;
    display: none;
}

img {
    max-height: 300px; /* Adjust this value as needed */
    display: block;
    margin: 1rem auto; /* Center the image horizontally */
}



/* Separator */
.separator {
    height: 150px;
    overflow: hidden;
    position: relative;
  }
  
  .separator svg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
  }
  
  .separator-1 path {
    fill: #8da8ff7a;
  }
  
  .separator-2 path {
    fill: #ffffff;
  }
  